* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/bgImage.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cfc3c3;
    font-family: "Agdasima", sans-serif;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 12px;
}

.left img {
    width: 70px;
    border-radius: 50%;

    /* background-color: #b9adad; */
}

.mid {
    /* border: 2px solid green; */
    margin: 12px auto;
    display: block;
    width: 533px;
}

.right {
    /* border: 2px solid purple; */
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 12px;
}

.navbar li {
    display: inline-block;
    font-size: 18px;
}

.navbar li a {
    text-decoration: none;
    padding: 34px 23px;
    color: black;
}

.navbar li a:hover {
    text-decoration: underline;
    color: blueviolet;
}

.btn {
    margin: 0px 9px;
    padding: 4px 8px;
    font-size: 18 px;
    border-radius: 10px;
    background-color: rgb(207, 176, 146);
    cursor: pointer;
    font-family: "Agdasima", sans-serif;
}

.btn:hover {
    text-decoration: underline;
    color: blueviolet;
    background-color: rgb(197, 163, 228);
}

.container {
    background-color: #0000006d;
    border: 2px solid rgb(25, 23, 23);
    margin: 100px 700px;
    padding: 19px 24px;
    border-radius: 10px;
    width: 33%;
}

.form-group input {
    text-align: center;
    font-family: "Agdasima", sans-serif;
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 6px;
}

.container h2 {
    text-align: center;
    font-family: "Agdasima", sans-serif;
    color: rgb(137, 219, 219);
}

.container button {
    display: block;
    width: 230px;
    margin: 20px auto;
}